#root {
  margin: 0 auto;
  padding: 0;
}

.parent-container {
  overflow: visible !important; /* Ensure visibility */
}

.footer_link {
  text-align: left;
  color: #6e6e6e;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease-in-out;
}

.footer_link:hover {
  color: #98CFD1;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}

.collection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  gap: 16px;
}

.collection-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 16px;
}

.collection-container3 {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 50vh; 
  gap: 16px;
}
.collection-item,
.collection-item2 {
  width: 100%;
}

.collection-item3 {
  width: 100%;
  height: 510px !important;
}

.collection-item img,
.collection-item2 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.collection-item3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .collection-container,
  .collection-container2,
  .collection-container3 {
    width: 90%;
  }
  .collection-item3 {
    height: 400px;
  }
  .lawn-section,
  .collection-section {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .collection-container,
  .collection-container2,
  .collection-container3 {
    width: 100%;
  }
  .collection-item img,
  .collection-item2 img {
    height: 200px;
  }
  .collection-item3 {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .collection-item img,
  .collection-item2 img {
    height: 180px;
  }
  .collection-item3 {
    height: 300px;
  }
  .collection-item3 {
    min-height: auto;
    height: auto; /* Fix overlap */
  }
}